.onoffswitch2 {
    position: relative; width: 48px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox2 {
    display: none;
}

.onoffswitch-label2 {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #666666; border-radius: 5px;
	margin-left:5px;
}

.onoffswitch-inner2 {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner2:before, .onoffswitch-inner2:after {
    float: left; width: 50%; height: 16px; padding: 0; line-height: 16px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner2:before {
    content: "SEL";
    padding-left: 3px;
    background-color: #6BB2ED; color: #FFFFFF;
}

.onoffswitch-inner2:after {
    content: "ALL";
    padding-right: 3px;
    background-color: #FFFFFF; color: #666666;
    text-align: right;
}

.onoffswitch-switch2 {
    width: 12px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #666666; border-radius: 5px;
    position: absolute; top: 0; bottom: 0; right: 27px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}

.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-inner2 {
    margin-left: 0;
}

.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-switch2 {
    right: 0px; 
}
